.card{
    width: 20%;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.75);
    margin: 2%;
    padding: 1% 0;
}

.team-list{
    display:flex;
    flex-wrap:wrap;
}

.btn{
    width: 25%;
    margin-top: 8%;
}